{#
/**
 * @file
 * Displays an animal from the Animal Shelter Manager
 *
 * Available variables
 * - animal:  The animal data from JSON
 * - asm_url: Base URL for Shelter Manager
 * - proxy:   Whether to proxy images, or not
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/old-licenses/gpl-2.0 GNU/GPL2, see LICENSE
 *
 * This file is part of the ASM drupal module.
 *
 * The ASM module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * The ASM module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the ASM module.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0/>.
 */
#}
<section class="asm_animal">
    <header><h2>{{ animal.ANIMALNAME }}</h2></header>
    {% if animal.WEBSITEIMAGECOUNT %}
        {% if proxy %}
            <img src="{{ path('asm.image', {'animal_id': animal.ID}) }}" />
        {% else %}
            <img src="{{ asm_url }}/service?method=animal_image;animalid={{ animal.ID }}" />
        {% endif %}
    {% endif %}
    <ul><li>{{ animal.SPECIESNAME }}</li>
        <li>{{ animal.BREEDNAME }}</li>
        <li>{{ animal.SEXNAME }}</li>
        <li>{{ animal.AGEGROUP }}</li>
        <li>{{ animal.SIZENAME }}</li>
    </ul>
</section>
